# 1. 변수에 대한 요약 값 살펴보기

In [1]:
HR = read.csv('./HR_comma_sep.csv')

In [2]:
summary(HR$salary)

  high    low medium
  1237   7316   6446

In [3]:
summary(HR$satisfaction_level)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.0900  0.4400  0.6400  0.6128  0.8200  1.0000

# 2. 분위수 계산

In [4]:
quantile(HR$satisfaction_level)

  0%  25%  50%  75% 100%
0.09 0.44 0.64 0.82 1.00

In [5]:
quantile(HR$satisfaction_level, probs = c(0.1,0.3,0.6,0.9))

 10%  30%  60%  90%
0.21 0.49 0.72 0.92

# 3. 합, 평균, 표준편차 구하기

* 단일 변수

In [6]:
sum(HR$satisfaction_level)

[1] 9191.89

In [7]:
mean(HR$last_evaluation)

[1] 0.7161017

In [8]:
sd(HR$satisfaction_level)

[1] 0.2486307

* 다중 변수

> rowSums, rowMeans: obs(행)별로 합,평균 구하기

In [9]:
print(colMeans(HR[1:5]))

  satisfaction_level      last_evaluation       number_project
           0.6128335            0.7161017            3.8030535
average_montly_hours   time_spend_company
         201.0503367            3.4982332

In [10]:
print(colSums(HR[1:5]))

  satisfaction_level      last_evaluation       number_project
             9191.89             10740.81             57042.00
average_montly_hours   time_spend_company
          3015554.00             52470.00

# 4. 빈도 테이블 작성하기

* 1차원 빈도 테이블

In [11]:
TABLE = as.data.frame(table(HR$sales))
TABLE

   Var1        Freq
1  accounting   767
2  hr           739
3  IT          1227
4  management   630
5  marketing    858
6  product_mng  902
7  RandD        787
8  sales       4140
9  support     2229
10 technical   2720

* 2차원 빈도 테이블

In [12]:
TABLE2 = as.data.frame(xtabs(~ HR$salary + HR$sales))
TABLE2

   HR.salary HR.sales    Freq
1  high      accounting    74
2  low       accounting   358
3  medium    accounting   335
4  high      hr            45
5  low       hr           335
6  medium    hr           359
7  high      IT            83
8  low       IT           609
9  medium    IT           535
10 high      management   225
11 low       management   180
12 medium    management   225
13 high      marketing     80
14 low       marketing    402
15 medium    marketing    376
16 high      product_mng   68
17 low       product_mng  451
18 medium    product_mng  383
19 high      RandD         51
20 low       RandD        364
21 medium    RandD        372
22 high      sales        269
23 low       sales       2099
24 medium    sales       1772
25 high      support      141
26 low       support     1146
27 medium    support      942
28 high      technical    201
29 low       technical   1372
30 medium    technical   1147

# Review

In [13]:
# HR 데이터에서 last_evaluation의 평균 구하기
mean(HR$last_evaluation)

[1] 0.7161017

In [14]:
# HR 데이터에서 last_evaluation의 표준편차 구하기
sd(HR$last_evaluation)

[1] 0.1711691

In [15]:
# HR 데이터에서 sales에 대한 빈도표 만들기
table(HR$sales)

 accounting          hr          IT  management   marketing product_mng
        767         739        1227         630         858         902
      RandD       sales     support   technical
        787        4140        2229        2720

In [16]:
# HR 데이터에서 left, salary에 대한 교차표 만들기
xtabs(~ HR$left + HR$salary)

       HR$salary
HR$left high  low medium
      0 1155 5144   5129
      1   82 2172   1317